/* .container{
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar{
  object-fit: cover;
  border-radius: 50%;
}

.texts{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
  color: gray;
  font-weight: bold;
}

.username{
  font-weight: 500;
} */

.detail {
  display: flex;
  gap: 20px;
}

.userImg {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

